
InstaWeather/Model/Secrets.swift
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace



# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Pods/YPImagePicker/Source/Pages/Gallery/YPLibraryViewCell.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPLibraryViewDelegate.swift
Pods/YPImagePicker/Source/Pages/Gallery/BottomPager/YPBottomPager.swift
Pods/YPImagePicker/Source/Pages/Gallery/BottomPager/YPBottomPagerView.swift
Pods/YPImagePicker/Source/Pages/Gallery/BottomPager/YPMenuItem.swift
Pods/YPImagePicker/Source/Pages/Gallery/BottomPager/YPPagerMenu.swift
Pods/YPImagePicker/Source/Pages/Photo/PostiOS10PhotoCapture.swift
Pods/YPImagePicker/Source/Pages/Photo/PreiOS10PhotoCapture.swift
Pods/YPImagePicker/Source/Pages/Photo/YPCameraVC.swift
Pods/YPImagePicker/Source/Pages/Photo/YPCameraView.swift
Pods/YPImagePicker/Source/Pages/Photo/YPPhotoCapture.swift
Pods/YPImagePicker/Source/Pages/Photo/YPPhotoCaptureDefaults.swift
Pods/YPImagePicker/Source/Helpers/Extensions/UIImage+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/URL+Extensions.swift
Pods/YPImagePicker/Source/Models/YPDragDirection.swift
Pods/YPImagePicker/Source/Models/YPLibrarySelection.swift
Pods/YPImagePicker/Source/Models/YPMediaItem.swift
Pods/YPImagePicker/Source/Models/YPPermissionDeniedPopup.swift
Pods/YPImagePicker/Source/Models/YPTrimError.swift
Pods/YPImagePicker/Source/Pages/Gallery/LibraryMediaManager.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPAlbum.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPAlbumCell.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPAlbumsManager.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPAlbumVC.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPAlbumView.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPAssetViewContainer.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPAssetZoomableView.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPGridView.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPLibrary+LibraryChange.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPLibraryVC+CollectionView.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPLibraryVC+PanGesture.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPLibraryVC.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPLibraryView.swift
Pods/YPImagePicker/Source/Pages/Gallery/YPLibraryView.xib
Pods/YPImagePicker/Source/Pages/Video/YPVideoCaptureHelper.swift
Pods/YPImagePicker/Source/Pages/Video/YPVideoCaptureVC.swift
Pods/YPImagePicker/Source/SelectionsGallery/YPSelectionsGalleryCell.swift
Pods/YPImagePicker/Source/SelectionsGallery/YPSelectionsGalleryVC.swift
Pods/YPImagePicker/Source/SelectionsGallery/YPSelectionsGalleryView.swift
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconCrop.imageset/Contents.json
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconCrop.imageset/yp_iconCrop2.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconCrop.imageset/yp_iconCrop2@2x.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconCrop.imageset/yp_iconCrop2@3x.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconFlash_auto.imageset/Contents.json
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconFlash_auto.imageset/yp_iconFlash_auto.pdf
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconFlash_off.imageset/Contents.json
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconFlash_off.imageset/yp_icon_flash_off.pdf
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconFlash_on.imageset/Contents.json
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconFlash_on.imageset/yp_iconFlash.pdf
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconLoop.imageset/Contents.json
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconLoop.imageset/yp_iconLoop.pdf
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconVideoCapture.imageset/Contents.json
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconVideoCapture.imageset/iconCapture Copy.pdf
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconVideoCaptureRecording.imageset/Contents.json
Pods/YPImagePicker/Resources/Assets.xcassets/yp_iconVideoCaptureRecording.imageset/iconCapture Copy 2.pdf
Pods/YPImagePicker/Resources/Assets.xcassets/yp_multiple.imageset/Contents.json
Pods/YPImagePicker/Resources/Assets.xcassets/yp_multiple.imageset/yp_multiple.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_multiple.imageset/yp_multiple@2x.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_multiple.imageset/yp_multiple@3x.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_multiple_colored.imageset/Contents.json
Pods/YPImagePicker/Resources/Assets.xcassets/yp_multiple_colored.imageset/yp_multiple_colored.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_multiple_colored.imageset/yp_multiple_colored@2x.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_multiple_colored.imageset/yp_multiple_colored@3x.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_play.imageset/Contents.json
Pods/YPImagePicker/Resources/Assets.xcassets/yp_play.imageset/play.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_play.imageset/play@2x.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_play.imageset/play@3x.png
Pods/YPImagePicker/Resources/bg.lproj/Localizable.strings
Pods/YPImagePicker/Resources/de.lproj/Localizable.strings
Pods/YPImagePicker/Resources/en.lproj/Localizable.strings
Pods/YPImagePicker/Resources/es.lproj/Localizable.strings
Pods/YPImagePicker/Resources/fr.lproj/Localizable.strings
Pods/YPImagePicker/Resources/id.lproj/Localizable.strings
Pods/YPImagePicker/Resources/it.lproj/Localizable.strings
Pods/YPImagePicker/Resources/ja.lproj/Localizable.strings
Pods/YPImagePicker/Resources/nl.lproj/Localizable.strings
Pods/YPImagePicker/Resources/pt-BR.lproj/Localizable.strings
Pods/YPImagePicker/Resources/ru.lproj/Localizable.strings
Pods/YPImagePicker/Resources/tr.lproj/Localizable.strings
Pods/YPImagePicker/Resources/zh-Hans.lproj/Localizable.strings
Pods/YPImagePicker/Source/YPImagePicker.swift
Pods/YPImagePicker/Source/YPPickerVC.swift
Pods/YPImagePicker/Source/Configuration/YPColors.swift
Pods/YPImagePicker/Source/Configuration/YPIcons.swift
Pods/YPImagePicker/Source/Configuration/YPImagePickerConfiguration.swift
Pods/YPImagePicker/Source/Configuration/YPImageSize.swift
Pods/YPImagePicker/Source/Configuration/YPPickerScreen.swift
Pods/YPImagePicker/Source/Configuration/YPWordings.swift
Pods/YPImagePicker/Source/Filters/YPFilter.swift
Pods/YPImagePicker/Source/Filters/YPFilterCollectionViewCell.swift
Pods/YPImagePicker/Source/Filters/YPFiltersView.swift
Pods/YPImagePicker/Source/Filters/YPPhotoFiltersVC.swift
Pods/YPImagePicker/Source/Filters/Crop/YPCropVC.swift
Pods/YPImagePicker/Source/Filters/Crop/YPCropView.swift
Pods/YPImagePicker/Source/Filters/Video/YPVideoFiltersVC.swift
Pods/YPImagePicker/Source/Filters/Video/YPVideoFiltersVC.xib
Pods/YPImagePicker/Source/Filters/Video/YPVideoView.swift
Pods/YPImagePicker/Source/Helpers/YPAlerts.swift
Pods/YPImagePicker/Source/Helpers/YPHelper.swift
Pods/YPImagePicker/Source/Helpers/YPLoaders.swift
Pods/YPImagePicker/Source/Helpers/YPLoadingView.swift
Pods/YPImagePicker/Source/Helpers/YPPermissionCheckable.swift
Pods/YPImagePicker/Source/Helpers/YPPhotoSaver.swift
Pods/YPImagePicker/Source/Helpers/YPVideoProcessor.swift
Pods/YPImagePicker/Source/Helpers/Extensions/AVAsset+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/AVAssetTrack+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/AVCaptureDevice+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/AVCaptureSession+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/AVFileType+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/AVFoundation+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/AVMutableComposition+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/AVPlayer+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/CGFloat+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/CGRect+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/CIImage+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/IndexSet+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/NSFileManager+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/PHCachingImageManager+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/PHFetchResult+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/String+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/UIButton+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/UICollectionView+Extensions.swift
Pods/YPImagePicker/Source/Helpers/Extensions/UIColor+Extensions.swift
Pods/PryntTrimmerView/LICENSE
Pods/PryntTrimmerView/README.md
Pods/PryntTrimmerView/PryntTrimmerView/Classes/ThumbSelectorView.swift
Pods/PryntTrimmerView/PryntTrimmerView/Classes/Cropper/CropMaskView.swift
Pods/PryntTrimmerView/PryntTrimmerView/Classes/Cropper/VideoCropView.swift
Pods/PryntTrimmerView/PryntTrimmerView/Classes/Cropper/VideoScrollView.swift
Pods/PryntTrimmerView/PryntTrimmerView/Classes/Parents/AssetVideoScrollView.swift
Pods/PryntTrimmerView/PryntTrimmerView/Classes/Parents/AVAssetTimeSelector.swift
Pods/PryntTrimmerView/PryntTrimmerView/Classes/Trimmer/HandlerView.swift
Pods/PryntTrimmerView/PryntTrimmerView/Classes/Trimmer/PryntTrimmerView.swift
Pods/SteviaLayout/LICENSE
Pods/SteviaLayout/README.md
Pods/SteviaLayout/Source/Stevia+Alignment.swift
Pods/SteviaLayout/Source/Stevia+Baselines.swift
Pods/SteviaLayout/Source/Stevia+Center.swift
Pods/SteviaLayout/Source/Stevia+Constraints.swift
Pods/SteviaLayout/Source/Stevia+Content.swift
Pods/SteviaLayout/Source/Stevia+DoubleDash.swift
Pods/SteviaLayout/Source/Stevia+Equation.swift
Pods/SteviaLayout/Source/Stevia+Fill.swift
Pods/SteviaLayout/Source/Stevia+FlexibleMargin.swift
Pods/SteviaLayout/Source/Stevia+GetConstraint.swift
Pods/SteviaLayout/Source/Stevia+Hierarchy.swift
Pods/SteviaLayout/Source/Stevia+LayoutAnchors.swift
Pods/SteviaLayout/Source/Stevia+Notifications.swift
Pods/SteviaLayout/Source/Stevia+Operators.swift
Pods/SteviaLayout/Source/Stevia+Percentage.swift
Pods/SteviaLayout/Source/Stevia+Position.swift
Pods/SteviaLayout/Source/Stevia+Size.swift
Pods/SteviaLayout/Source/Stevia+Stacks.swift
Pods/SteviaLayout/Source/Stevia+Style.swift
Pods/SteviaLayout/Source/Stevia+Tap.swift
Pods/Target Support Files/Bartinter/Bartinter-dummy.m
Pods/Target Support Files/Bartinter/Bartinter-prefix.pch
Pods/Target Support Files/Bartinter/Bartinter-umbrella.h
Pods/Target Support Files/Bartinter/Bartinter.modulemap
Pods/Target Support Files/Bartinter/Bartinter.xcconfig
Pods/Target Support Files/Bartinter/Info.plist
Pods/Target Support Files/PryntTrimmerView/Info.plist
Pods/Target Support Files/PryntTrimmerView/PryntTrimmerView-dummy.m
Pods/Target Support Files/PryntTrimmerView/PryntTrimmerView-prefix.pch
Pods/Target Support Files/PryntTrimmerView/PryntTrimmerView-umbrella.h
Pods/Target Support Files/PryntTrimmerView/PryntTrimmerView.modulemap
Pods/Target Support Files/PryntTrimmerView/PryntTrimmerView.xcconfig
Pods/Target Support Files/SteviaLayout/Info.plist
Pods/Target Support Files/SteviaLayout/SteviaLayout-dummy.m
Pods/Target Support Files/SteviaLayout/SteviaLayout-prefix.pch
Pods/Target Support Files/SteviaLayout/SteviaLayout-umbrella.h
Pods/Target Support Files/SteviaLayout/SteviaLayout.modulemap
Pods/Target Support Files/SteviaLayout/SteviaLayout.xcconfig
Pods/Target Support Files/YPImagePicker/Info.plist
Pods/Target Support Files/YPImagePicker/YPImagePicker-dummy.m
Pods/Target Support Files/YPImagePicker/YPImagePicker-prefix.pch
Pods/Target Support Files/YPImagePicker/YPImagePicker-umbrella.h
Pods/Target Support Files/YPImagePicker/YPImagePicker.modulemap
Pods/Target Support Files/YPImagePicker/YPImagePicker.xcconfig
Pods/YPImagePicker/LICENSE
Pods/YPImagePicker/README.md
Pods/YPImagePicker/Resources/ar.lproj/Localizable.strings
Pods/YPImagePicker/Resources/Assets.xcassets/Contents.json
Pods/YPImagePicker/Resources/Assets.xcassets/yp_arrow_down.imageset/Arrow.pdf
Pods/YPImagePicker/Resources/Assets.xcassets/yp_arrow_down.imageset/Contents.json
Pods/YPImagePicker/Resources/Assets.xcassets/yp_arrow_left.imageset/arrow_left.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_arrow_left.imageset/arrow_left@2x.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_arrow_left.imageset/arrow_left@3x.png
Pods/YPImagePicker/Resources/Assets.xcassets/yp_arrow_left.imageset/Contents.json
Pods/Bartinter/LICENSE
Pods/Bartinter/README.md
Pods/Bartinter/Bartinter/Source/Bartinter.swift
Pods/Bartinter/Bartinter/Source/Extensions/UIKitSwizzling.swift
Pods/Bartinter/Bartinter/Source/Extensions/UIViewController+Bartinter.swift
Pods/Bartinter/Bartinter/Source/Throttler/Throttler.swift
